html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.player-slider .MuiLinearProgress-dashed {
  display: none;
}

.react-player iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
}

.Toastify__toast--error {
  font-weight: bold;
  background-color: #b71c1c !important;
}

@media (min-aspect-ratio: 16/9) {
  .react-player iframe {
    height: 56.25vw;
  }
}
@media (max-aspect-ratio: 16/9) {
  .react-player iframe {
    width: 177.78vh;
  }
}